@model BoxService.Models.Admin

@{
    ViewBag.Title = "ViewStats";
}

<h2>Customer Statistics</h2>

<div>
    <h4>Sales and Accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAccounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAccounts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyTotal)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.MonthlyTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentTerribleBeers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentTerribleBeers)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentWonderfulBeers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentWonderfulBeers)%
        </dd> 

        <dt>
            @Html.DisplayNameFor(model => model.PercentTerribleWines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentTerribleWines)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentWonderfulWines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentWonderfulWines)%
        </dd>

    </dl>
</div>

